In [1]:
def fun():
    print('this is function')

In [5]:
fun()
fun()

this is function
this is function

In [6]:
def sum_1(x,y,z):
    print(x+y+z)

In [7]:
sum_1(2,3,4)

9

In [8]:
def sum_2(x,y,z):
    return x+y+z

In [10]:
a=sum_2(2,3,4)

In [11]:
a

9

## Positional arguments

In [12]:
def sum_3(x,y,z):
    print(x+y,z)

In [13]:
sum_3(2,3.4,'alok')

5.4 alok

In [14]:
def sum_4(x:int,y:float,z:str):
    print(x+y,z)

In [15]:
sum_4('alok',3,4.5)

TypeError: can only concatenate str (not "int") to str

In [16]:
sum_4(2,3.4,'alok')

5.4 alok

## Keyword arguments

In [17]:
def sum_5(x:int,y:float,z:str):
    print(x+y, z)

In [18]:
sum_5(z="alok",x=2,y=4.5)

6.5 alok

In [19]:
def sum_6(x:int,y:float,z:str,i:int=2):
    print(x+y+i,z)

In [20]:
sum_6(3,4,'alok')

9 alok

In [21]:
sum_6(3,4,'alok',10)

17 alok

## Variable length positional arguments

In [22]:
def sqr(*args):
    for i in args:
        print(i**2)

In [23]:
sqr(1,2,3,4)

1
4
9
16

In [24]:
sqr(1,2)

1
4

In [26]:
def sqr1(**args):
    for k,v in args.items():
        print(k,v**2)

In [27]:
sqr1(a=2,b=4,g=5)

a 4
b 16
g 25

In [28]:
l=[1,2,3,4,5,6]

In [29]:
sqr(l)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

## Unpacking arguments

In [30]:
sqr(*l)

1
4
9
16
25
36

In [34]:
dt={'a':1,'b':2,'c':4}

In [35]:
sqr1(dt)

TypeError: sqr1() takes 0 positional arguments but 1 was given

In [38]:
sqr1(**dt)

a 1
b 4
c 16

In [39]:
def print_it(x:int,y:float)-> int:
    """ 
    This function is for sum calculation
    
    """

    print(x+y)
    return x+y

In [ ]:
print_it()

## Lambda function

In [43]:
x=lambda a,b : a*b

In [41]:
print(x(2,3))

6

In [44]:
c_to_f= lambda c: (9/5)*c +32

In [45]:
c_to_f(37)

98.60000000000001

In [46]:
find_max= lambda x,y : x if x>y else y

In [47]:
find_max(522,458)

522

In [48]:
find_max(4,6)

6

In [49]:
s= lambda a: a.upper()

In [50]:
s('alok ranjan')

'ALOK RANJAN'

In [51]:
s= lambda a: a.split(" ")

In [52]:
s('alok ranjan')

['alok', 'ranjan']

In [53]:
s('This is the most basic level of normalization')

['This', 'is', 'the', 'most', 'basic', 'level', 'of', 'normalization']