In [1]:
a='alok rajan'

for i in a:
    print(i)

a
l
o
k

r
a
j
a
n

In [3]:
r=range(1,10)

In [4]:
r

range(1, 10)

In [5]:
for i in r:
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

## LIST

In [8]:
l=[]

In [9]:
type(l)

list

In [10]:
len(l)

0

In [11]:
l1 = list((1,2,3,4))

In [12]:
l1

[1, 2, 3, 4]

In [13]:
l2 = [1,2,3,4,5]

In [14]:
l2

[1, 2, 3, 4, 5]

In [15]:
l3= [1,2,3,'alok',True,'ranjan']

In [16]:
l3

[1, 2, 3, 'alok', True, 'ranjan']

In [17]:
for i in l3:
    print(i)

1
2
3
alok
True
ranjan

In [18]:
for i in l3:
    print(i)
    if type(i) == str:
        break

1
2
3
alok

In [19]:
for i in l3:
    print(i)
    if type(i) == bool:
        break

1
2
3
alok
True

In [20]:
l3

[1, 2, 3, 'alok', True, 'ranjan']

In [21]:
l3[3]

'alok'

In [22]:
l3[4]

True

In [23]:
l3[2:4]

[3, 'alok']

In [24]:
l4 = [1,2,3,4,5,6,7,8,9]

In [25]:
l4[::2]

[1, 3, 5, 7, 9]

In [26]:
l5 = [1,2,3,4,5,6,7,8,9,3,4,5,67,]

In [27]:
l5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 67]

In [28]:
print(l5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 67]

In [29]:
l5[2]=33

In [30]:
l5

[1, 2, 33, 4, 5, 6, 7, 8, 9, 3, 4, 5, 67]

In [31]:
a='alok ranjan'

In [32]:
a[3]

'k'

In [34]:
a[3]='r'

TypeError: 'str' object does not support item assignment

In [35]:
l5

[1, 2, 33, 4, 5, 6, 7, 8, 9, 3, 4, 5, 67]

In [36]:
len(l5)

13

In [37]:
l5[2:5]

[33, 4, 5]

In [39]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [40]:
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [41]:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [42]:
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [43]:
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [44]:
thislist[-1]

'mango'

In [45]:
thislist.insert(2,'watermelon')

In [46]:
thislist

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [47]:
thislist.append('orange')

In [49]:
thislist

['apple',
 'banana',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'orange']

In [52]:
l2

[1, 2, 3, 4, 5]

In [53]:
thislist.extend(l2)

In [54]:
thislist

['apple',
 'banana',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'orange',
 1,
 2,
 3,
 4,
 5]

In [55]:
thislist.remove('melon')

In [56]:
thislist

['apple',
 'banana',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'mango',
 'orange',
 1,
 2,
 3,
 4,
 5]

In [57]:
thislist.pop(1)

'banana'

In [58]:
thislist

['apple',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'mango',
 'orange',
 1,
 2,
 3,
 4,
 5]

In [60]:
thislist.clear()

In [61]:
thislist

[]

In [62]:
l3

[1, 2, 3, 'alok', True, 'ranjan']

In [63]:
l2

[1, 2, 3, 4, 5]

In [65]:
l=[3,5,7,1,2,3,9,70]

In [66]:
l.sort()

In [67]:
l

[1, 2, 3, 3, 5, 7, 9, 70]

In [68]:
l.sort(reverse=True)

In [69]:
l

[70, 9, 7, 5, 3, 3, 2, 1]

In [70]:
l[4]

3

In [71]:
l.pop(4)

3

In [72]:
l

[70, 9, 7, 5, 3, 2, 1]

## Tuple

In [73]:
t= ('alok','ranjan')

In [74]:
type(t)

tuple

In [75]:
len(t)

2

In [78]:
thistuple = ("apple", "banana", "cherry",2,3,4,5,True)
print(thistuple)

('apple', 'banana', 'cherry', 2, 3, 4, 5, True)

In [79]:
t

('alok', 'ranjan')

In [80]:
t= tuple(('alok',3,4,5))

In [81]:
t

('alok', 3, 4, 5)

In [83]:
thistuple[3]

2

In [84]:
thistuple

('apple', 'banana', 'cherry', 2, 3, 4, 5, True)

In [85]:
thistuple[1]

'banana'

In [86]:
thistuple[1:4]

('banana', 'cherry', 2)

In [87]:
for i in thistuple:
    print(i)

apple
banana
cherry
2
3
4
5
True

In [88]:
for k,v in enumerate(thistuple):
    print(k,v)

0 apple
1 banana
2 cherry
3 2
4 3
5 4
6 5
7 True

In [89]:
thistuple

('apple', 'banana', 'cherry', 2, 3, 4, 5, True)

In [90]:
thistuple[1]

'banana'

In [91]:
thistuple[1]=22

TypeError: 'tuple' object does not support item assignment

In [92]:
l6=list(thistuple)

In [93]:
l6

['apple', 'banana', 'cherry', 2, 3, 4, 5, True]

In [94]:
type(l6)

list

In [95]:
l6[1]

'banana'

In [96]:
l6[1]=22

In [97]:
l6

['apple', 22, 'cherry', 2, 3, 4, 5, True]

In [98]:
s= str(l6)

In [99]:
s

"['apple', 22, 'cherry', 2, 3, 4, 5, True]"

In [100]:
type(s)

str

In [101]:
thistuple

('apple', 'banana', 'cherry', 2, 3, 4, 5, True)

In [102]:
thistuple

('apple', 'banana', 'cherry', 2, 3, 4, 5, True)

In [103]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [104]:
thistuple

('apple', 'banana', 'cherry', 'orange')

In [105]:
thistuple = ("apple", "banana", "cherry")

In [106]:
thistuple

('apple', 'banana', 'cherry')

In [107]:
y= list(thistuple)

In [108]:
y

['apple', 'banana', 'cherry']

In [109]:
y.append('orange')

In [110]:
y

['apple', 'banana', 'cherry', 'orange']

In [111]:
thistuple = tuple(y)

In [113]:
thistuple

('apple', 'banana', 'cherry', 'orange')

In [116]:
del thistuple

In [117]:
thistuple

NameError: name 'thistuple' is not defined