In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
len(d)

0

In [6]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year":2024
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [7]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [8]:
len(thisdict)

3

In [9]:
thisdict['brand']

'Ford'

In [10]:
thisdict['model']

'Mustang'

In [11]:
for k in thisdict.keys():
    print(k)

brand
model
year

In [12]:
for v in thisdict.values():
    print(v)

Ford
Mustang
2024

In [13]:
for k,v in thisdict.items():
    print(k,v)

brand Ford
model Mustang
year 2024

In [14]:
dd= dict({'name':'alok', 'age':35})

In [15]:
dd

{'name': 'alok', 'age': 35}

In [16]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [17]:
thisdict['year'] = 2022

In [18]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [19]:
k = thisdict.keys()

In [20]:
k

dict_keys(['brand', 'model', 'year'])

In [21]:
thisdict.get('year')

2022

In [22]:
thisdict.update({'year':2025})

In [23]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025}

In [24]:
thisdict['color'] ='red'

In [25]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025, 'color': 'red'}

In [27]:
for i,(k,v) in enumerate(thisdict.items()):
    print(i,k,v)

0 brand Ford
1 model Mustang
2 year 2025
3 color red

In [28]:
l=['a','b','c','d']

for i,j in enumerate(l):
    print(i,j)

0 a
1 b
2 c
3 d

In [30]:
thisdict.pop('color')

'red'

In [31]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025}

In [32]:
thisdict.popitem()

('year', 2025)

In [33]:
thisdict

{'brand': 'Ford', 'model': 'Mustang'}

In [34]:
del thisdict['brand']

In [35]:
thisdict

{'model': 'Mustang'}

In [36]:
thisdict.clear()

In [37]:
thisdict

{}

In [38]:
del thisdict

In [39]:
thisdict

NameError: name 'thisdict' is not defined

In [41]:
d1={1:'a',2:'b',3:'c'}

In [42]:
d1

{1: 'a', 2: 'b', 3: 'c'}

In [43]:
d1.pop(2)

'b'

In [44]:
d1

{1: 'a', 3: 'c'}

In [45]:
del d1[3]

In [46]:
d1

{1: 'a'}

In [47]:
d1[2]='alok'

In [48]:
d1

{1: 'a', 2: 'alok'}

# SET

In [50]:
s=set()

In [51]:
type(s)

set

In [52]:
len(s)

0

In [53]:
s1={1,2,3,4,5,6}

In [54]:
s1

{1, 2, 3, 4, 5, 6}

In [55]:
s1[0]

TypeError: 'set' object is not subscriptable

In [56]:
for i in s1:
    print(i)

1
2
3
4
5
6

In [57]:
s=set()

In [63]:
sss={20}

In [64]:
type(sss)

set

In [66]:
for i,j in enumerate(s1):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6

In [67]:
sum(s1)

21

In [68]:
max(s1)

6

In [69]:
min(s1)

1

In [78]:
thisset = {"apple", "banana", "cherry", True, 1, 2,5,0}

In [79]:
thisset

{0, 2, 5, True, 'apple', 'banana', 'cherry'}

In [80]:
thisset.add('orange')

In [81]:
thisset

{0, 2, 5, True, 'apple', 'banana', 'cherry', 'orange'}

In [82]:
tropical = {"pineapple", "mango", "papaya"}

In [83]:
thisset.update(tropical)

In [84]:
thisset

{0,
 2,
 5,
 True,
 'apple',
 'banana',
 'cherry',
 'mango',
 'orange',
 'papaya',
 'pineapple'}

In [85]:
l=[1,2,3,4]

In [86]:
thisset.update(l)

In [87]:
thisset

{0,
 2,
 3,
 4,
 5,
 True,
 'apple',
 'banana',
 'cherry',
 'mango',
 'orange',
 'papaya',
 'pineapple'}

In [88]:
thisset.remove('apple')

In [89]:
thisset

{0,
 2,
 3,
 4,
 5,
 True,
 'banana',
 'cherry',
 'mango',
 'orange',
 'papaya',
 'pineapple'}

In [90]:
thisset.discard('banana')

In [91]:
thisset

{0, 2, 3, 4, 5, True, 'cherry', 'mango', 'orange', 'papaya', 'pineapple'}

In [92]:
thisset.remove('apple')

KeyError: 'apple'

In [93]:
thisset.discard('apple')

In [94]:
thisset

{0, 2, 3, 4, 5, True, 'cherry', 'mango', 'orange', 'papaya', 'pineapple'}

In [95]:
thisset.clear()

In [96]:
thisset

set()

In [97]:
len(thisset)

0

In [98]:
del thisset

In [99]:
thisset

NameError: name 'thisset' is not defined

# Comprehensions

## List comprehension
### [expression for item in iterable if condition == True]

In [100]:
ll=[]
for i in range(20):
    ll.append(i)

In [101]:
ll

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [102]:
aa=[i for i in range(20)]

In [103]:
aa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [105]:
ll1=[]
for i in range(20):
    if i%2==0:
     ll1.append(i)

In [106]:
ll1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [107]:
aa1=[i for i in range(20) if i%2==0]

In [108]:
aa1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [109]:
ll1=[]
for i in range(20):
    if i%2==0:
     ll1.append(i**2)
    else:
       ll1.append(i**3)

In [110]:
ll1

[0,
 1,
 4,
 27,
 16,
 125,
 36,
 343,
 64,
 729,
 100,
 1331,
 144,
 2197,
 196,
 3375,
 256,
 4913,
 324,
 6859]

In [111]:
aa1=[i**2 if i%2==0 else i**3 for i in range(20)]

In [112]:
aa1

[0,
 1,
 4,
 27,
 16,
 125,
 36,
 343,
 64,
 729,
 100,
 1331,
 144,
 2197,
 196,
 3375,
 256,
 4913,
 324,
 6859]

In [113]:
d={'a':1,'b':2,"c":3,'d':4}

In [114]:
d1={k:v**3 for (k,v) in d.items()}

In [115]:
d1

{'a': 1, 'b': 8, 'c': 27, 'd': 64}